@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    font-family: var(--font-noto-sans-jp), sans-serif;
  }
}

@layer utilities {
  .font-english {
    font-family: var(--font-barlow-condensed), sans-serif;
  }

  .font-japanese {
    font-family: var(--font-noto-sans-jp), sans-serif;
  }
}
